// ==========================================================================//
//
// [Setting variables]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

// -------------------------------------------------
// Device
// -------------------------------------------------

// ブレイクポイント
$breakpoint_sp: 767px


// -------------------------------------------------
// Font
// -------------------------------------------------

// フォント設定
$font_body_size: 16
$font_body_typeface: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif


// -------------------------------------------------
// Transition
// -------------------------------------------------

// テキストリンクのホバー
$transition_text_link_hover: all 0.15s ease-out 0s

// 開閉メニューの開閉スピード
$transition_menu_click: all 0.6s ease-out 0s


// -------------------------------------------------
// Color
// -------------------------------------------------

// white
$color_white: #fff

// Grayscale colors
$color_grayscale001: #f6f6f6
$color_grayscale002: #ededed
$color_grayscale003: #ddd
$color_grayscale004: #8e8e8e

// Text colors
$color_text001: #000
$color_text002: #777
$color_text003: #999

// CV / Alert colors
$color_pinkred: #e34563

// Other colors
$color_navy: #003d7c
